@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');
* {
  margin: 0%;
  padding: 0%;
  list-style: none;
}
:root{
  font-size: 16px;
}
body {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*##################################### Aman Changes ############################## */
span#quan_err_pg2:after,span#quan_err_pg5:after,span#quan_err_pg2-2:after {content: "";position: absolute;border: 10px solid;border-color: transparent transparent red transparent;left: 20%;top: -20px;}
/* ########################################## navbar ########################################### */
.logo{
  width: 150px;
  padding: 5px 5px 20px 5px;
  position: relative;
}
.topnav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  margin: 0 35px;
  padding: 15px 5px;
}
.topnav input[type=text]{
  padding: 10px 17px;
  font-size: 17px;
  border: none;
  width: 300px;
  background-color: #ddd;
  outline: none;
  position: relative;
}
.topnav .search-container button {
  float: right;
  padding: 10px 10px;
  /* margin-top: 8px; */
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
}
.topnav a{
  text-decoration: none;
  color: black;
}
#shopping-bag{
  margin-left: 0.4em;
}
p.enq_nav1 {
    display: none;
}
/* ################################# home section ##############################################*/
#home{
  margin: 1.25em 0;
  background: url('https://d3nxn5bl526zn7.cloudfront.net/homecentregiftingbanners2022/CorporategiftingLandingPage+Banner.jpg') no-repeat center center/cover;
  width: 100%;
  height: 56vh;
}
/*################################## 2nd section Contact Us ###################################*/
section.container{
    margin: 0 3.1em;
    height: 12vh;
}
/* ******* contact us ********* */
div.firstfoot-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/******** social media icons ****** */
div.social-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.social a{
    text-decoration: none;
}
/* .social #insta{
    color: black;
} */
div.details{
    display: flex;
    flex-direction: row;
    /* margin-left: 20px; */
    margin: 30px 0 30px 15px;
    padding: 20px 15px;
}
p.lowtxt{
    margin-left: 0.4em;
    font-size: 1rem;
    margin-top: 0.3em;
}
p.uptxt{
    font-size: 0.8rem;
    padding-top: 7px;
    padding-left: 0.5em;
    color: rgb(161, 161, 161);
}
div.icon .fa-envelope, div.icon .fa-question-circle, div.icon .fa-phone{
  font-size: 1.5rem;
  padding: 12px;
  padding-left: 14px;
  height: 22px;
  width: 22px;
  border: solid 1px #c8c9c7;
  border-radius: 50%;
}
div.icon .fa-envelope{
  font-size: 1.2rem;
}
div.social .fa-facebook,div.social .fa-twitter,div.social .fa-instagram{
  font-size: 1.8rem;
}

/* ########################### Footer ################################ */
footer{
  height: 12vh;
}
div.Mainfooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
    
}
.first-foot1,.txt-foot{
    margin: 30px 0 30px 15px;
    padding: 20px 20px;
}
.txt-foot p{
    font-size: 14px;
    color: rgb(161, 161, 161);
}
a.pnp {
    color: rgb(161, 161, 161);
    text-decoration: underline;
}
/* #################################### for popup form ############################################*/

/* The popup form */
.form-popup{position: absolute;top: 28%;left: 33%;margin: auto;}
/* Add styles to the form container */
.form-container {
    width: 50vh;
    padding: 20px 50px;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    opacity: 1;
    text-align: center;
}
  
/* input fields of popup form*/
.form-container input[type=text],.form-container input[type=number] {
    width: 20px;
    padding: 15px;
    margin: 15px 5px 22px 5px;
    border: 1px solid rgb(141, 135, 135);
    border-radius: 2px;
    outline-color: #B1CC0C;
}

.textfield{
    margin-left: 7px;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.btn{
    margin: 0px 0px 20px 0px;
    padding: 10px 40px;
    color: white;
    background-color: #B1CC0C;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.product_pop_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0 0 0 / 0.5);
    z-index: 1;
    display: none;
}
li.sec_pg_img_li {
    position: relative;
    width: 400px;
    height: 400px;
}
/* The Close Button (x) */
/* .close {
} */
.close:hover,.close:focus {
    font-weight: bold;
    cursor: pointer;
}

/*CONTROL CHANGE*/
.firstfoot_in_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}
/*#################### Enquiry Form Popup ####################*/
.enquiry_page_container {
    display: none;
}
.enqlistcont-sec2-mob,.enqlistcont-sec3-mob{
  display: none;
}
.alert {
  padding: 20px 40px;
  background-color: #ebe9e9;
  color: black;
  width: 450px;
  height: 191px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 40%;
}
#para{
  text-align: center;
  font-size: 16px;
  padding: 5px 0px;
}

.check {
  display: inline-block;
  padding: 15px 16px;
  border: 1px solid #bbec33;
  background-color:#bbec33;
  border-radius: 50%;
}
.enquiryform_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 0.5);
  display: none;
  z-index: 1;
}
/*#################### Enquiry Form ####################*/
section.home{
  margin: 20px 20px 60px 0px;
  padding: 0 60px;
}
.container1{
  display: grid;
  grid-template-columns: repeat(2,auto);
}
.items{
  background-color: white;
  border: 2px solid white;
  padding: 5px 25px;
  margin: 5px 5px;
  box-sizing: border-box;
}
input#tnc-accept {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 25.5%;
  top: -1px;}
.wcon{
  width: 100%;
  padding: 10px 15px;
  margin-top: 5px;
  outline: none;
  box-sizing: border-box;
}
#sub-btn{
  display: block;
  width: 96%;
  padding: 10px 15px;
  outline: none;
  color: white;
  background-color:#B1CC0C;
  border: none;
  cursor: pointer;
  margin: 30px auto 20px auto;
}
p.para{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.container1 label{
    font-size: 16px;
}

#hr {
  width: 95%;
  text-align: center;
  margin: auto;
}

/*#################### Product Price Filter ####################*/
.select::-ms-expand {
  display: none;
}

.price_filter {
  padding: 20px 40px;
  width: 100%;
  height: auto;
  overflow: hidden;
  --bs-gutter-x: 1.5em;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-guter-y) * -1);
  margin-right: calc(var(--bs-guter-y) / -2);
  margin-left: calc(var(--bs-guter-y) / -2);
}

.price-options {
  padding: 20px;
  width: 15%;
  height: auto;
}

.price_filter #bg-img {
  position: relative;
  left: 10%;
  padding: 0;
  margin: 0;
  width: 40%;
  height: 100%;
  outline: hidden;
  border: 0;
  cursor: pointer;
}

.price_filter #bg-img img {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pricesortlist {
  padding: 15px 40px 15px 8px;
  background-color: white;
  text-align: left;
  vertical-align: middle;
  font-size: 0.8em;
  border-radius: 0.25em;
  margin: 20px 0px;
  width: 150px;
}

.clear {
  text-decoration: none;
  cursor: pointer;
}
.selectdiv {
    position: relative;
    float: left;
    width: 100%;
    /* margin: 50px 33%; */
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 16px/1 FontAwesome;
    color: #484848;
    top: 20px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
    font-weight: lighter;
    left: 110px;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* .selectdiv label {
} */
/*#################### Product List Page ####################*/

.product_cont_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 40px;
}

.product_cont_ul_li {
  margin: 0px 14px 55px 14px;
}

.btn-2 {
  padding: 12px 52px;
  border-radius: 0.4em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.35s ease;
  position: absolute;
  bottom: 7%;
  left: 25%;
}

.img_container:hover .btn-2 {
  opacity: 1;
}

.product_img {
  width: 300px;
  border-radius: 4px;
}

.small_img {
  padding: 4px;
  border: 2px solid #B1CC0C;
  width: 40px;
  border-radius: 4px;
}

.product_price {
  font-weight: bold;
}

.product_heading {
  font-weight: 400;
}


/*#################### Product Quick View ####################*/
.sec_pg_cont {
  width: 70%;
  height: 490px;
  background-color: white;
  padding: 55px 50px;
  border: none;
  border-radius: 0.2em;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}
.close {
  font-size: 2.8em;
  cursor: pointer;
  color: black;
}

.sec_pg_cont_ul {
  display: flex;
  justify-content: space-around;
}

.sec_pg_ul_li {
  display: inline-block;
  width: 400px;
}

.sec_pg_img {
  border: none;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.sec_pg_img_ul li {
  display: inline-block;
  margin: 30px 10px 0px 0px;
}

.sec_pg_small_img {
  padding: 0px;
  border: 5px solid rgb(213, 213, 213);
  width: 40px;
  border-radius: 4px;
}

.sec_pg_small_img:hover {
  padding: 3px;
  border: 2px solid #99cc00;
  width: 40px;
  border-radius: 4px;
  margin: 0;
}

.sec_pg_ol_li1 {
  padding: 20px 0px;
}

.sec_pg_ol_li2, .sec_pg_ol_li4 {
  font-weight: bold;
}

.sec_pg_ol_li3 ul   {
  padding-bottom: 55px;
}

.sec_pg_ol_li3 ul li {
  padding: 20px 0px;
  display: inline-block;
  color: #99cc00;
}

.sec_pg_ol_input {
  height: 40px;
  width: 80px;
  border-radius: 0.2em;
  border: 1px solid;
  margin-right: 15px;
  padding: 0px 20px;
}

.sec_pg_ol_li5 {
  text-decoration: underline;
  padding: 20px;
  text-align: center;
}

.pr_detail_btn {
  color: white;
  background-color: #B1CC0C;
  border: none;
  padding: 18px 25px;
  font-weight: bold;
  cursor: pointer;
}

.pr_detail_hr {
  width: 100%;
  text-align: center;
}

/*#################### Product Spec Page ####################*/
h1#product_mainTitle {
    font-size: 1.5em;
}
p.ymal {
    padding: 30px 50px 0px 50px;
    font-size: 2em;
}
.pg5_upper_ul {
  /* display: flex; */
  padding: 25px 40px;
}

/* .pg5_upper_li {
}

.pg5_upper_li_ol2 {
} */

.pg5_upper_lu_ol2_li {text-align: right;margin-bottom: 20px;}

.pg5_upper_btn_li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
span#quan_err_pg2,span#quan_err_pg5,span#quan_err_pg2-2 {
    position: absolute;
    top: 75px;
    width: 175px;
    background: red;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
    display: none;
}
span#quan_err_pg5 {
    top: 50px;
}
.pg5_upper_btn1 {
  border: 1px solid rgb(121, 121, 121);
  padding: 10px 20px;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  margin-right: 8px;
}

.pg5_upper_btn2 {
  padding: 11px 40px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #b1cc0c;
  cursor: pointer;
}

.pg5_upper_btn3 {
  padding: 11px 40px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #b1cc0c;
}

.pg5_middle_cont {
  padding: 40px;
}

.pg5_middle_mainimg {
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.pg5_middle_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pg5_middle_ul_li2 {
  width: 48%;
}

.pg5_middle_ol_li1 {
  padding: 20px 0px;
  font-weight: 100;
  font-size: 1.4em;
}

.pg5_middle_ul2 {
  display: flex;
  line-height: 2em;
  flex-direction: row;
  justify-content: space-between;
}

.pg5_middle_list_dots1 {
    display: inline;
    width: 48%;
}

.pg5_middle_list_dots1 li, .pg5_middle_list_dots2 li {
  list-style: disc;
  font-size: 15px;
}
ol.pg5_middle_list_dots1 li {
    font-size: 1em;
}

ol#more li {
    font-size: 1em;
}
/* #more,
#moretext {
} */
p.ftext {
    line-height: 2em;
    font-size: 1em;
}
.moreless-button {
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  margin: 20px 0px;
  color: black;
  font-weight: bold;
  position: absolute;
}

.pg5_middle_ul3 {
  display: flex;
  padding-top: 20px;
  margin-bottom: 40px;
}

.pg5_middle_ul3_li1 {
  margin-right: 20px;
}

.pg5_middle_ul3_li2_ol li {
  margin: 1px 0px;
}

.pg5_small_img {
  padding: 5px;
  border: 2px solid rgb(213, 213, 213);
  width: 40px;
  border-radius: 4px;
}

.pg5_small_img:hover {
  padding: 5px;
  border: 2px solid #99cc00;
  width: 40px;
  border-radius: 4px;
}

.product_cont_li_h3 {
  font-weight: 100;
  font-size: 1.7em;
  padding: 25px 0px 0px 40px;
}

.pg5_middle_h3 {
  font-weight: 100;
  font-size: 1.1em;
  display: inline;
  margin-left: 10px;
}

.img_container {
  position: relative;
}
ol.product_solo_cont {
  width: 335px;
}
ol.product_solo_cont li {
    margin-bottom: 15px;
}
.pg5_upper_btn_li li input[type="number"] {
    padding: 10px;
    border: 1px solid black;
    width: 100px;
    border-radius: 5px;
}

ul.pg5_upper_btn_li li {
    margin: 0px 0px 0px 10px;
}

ol.pg5_slug_area li {
    margin: 10px 0px;
}
li.pg5_product_imgcontianer {width: 48%;}

.pg5_product_imgbox {
  position: relative;
  height: 800px;
}
li.pg5_product_descpt1 {
    display: flex;
    margin: 50px 0px 0px 0px;
    justify-content: space-between;
    height: 300px;
}

.pg5_product_descpt2 {
    width: 48%;
}
li.pg5_product_descpt3 {
    line-height: 2em;
}

.pg5_readmore_button {
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: -70px;
    left: -40px;
    right: 0;
    z-index: 1;
    background: white;
    width: 105%;
    height: 250px;
    box-shadow: 0px -40px 0px 0px rgb(255 255 255 / 0.6);
}
.storeimgcont {margin-bottom: 20px;}

.walletimgcont {margin-top: 40px;}
.pg5_notif_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 30px 0px;
    border: 2px solid #a2a2a2;
    border-radius: 5px;
    display: none;
}

.pg5_notif_pro_img_con {
    height: 100px;
    width: 115px;
    position: relative;
}

.pg5_notif_pro_img_con img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.pg5_notif_sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}

.pg5_notif_sec1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg5_notif_tickmark {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0px 20px;
}

.pg5_notif_tickmark img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}
.pg5_notif_tickmark img.vector{
  position: inherit;
  top: 14px;
  left: 10px;
  right: 0;
  bottom: 0;
}

.pg5_notif_sec2 {
  width: 51%;
  display: flex;
  justify-content: flex-end;
  margin-right: inherit;
}

p.pg5_notif_title {
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 900;
}

p.pg5_notif_subtitle {
    font-size: 0.8em;
    margin-top: 5px;
}
button.pg5_notif_button1,button.pg5_notif_button2 {
    font-size: 1.5em;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 2px;
}
button.pg5_notif_button1 {
    background: white;
    color: #B1CC0C;
    border-color: #B1CC0C;
    margin-right: 15px;
    font-size: inherit;
    height: 40px;
}
button.pg6_notif_button2 {
    float: right;
    font-size: 1em;
    background: #B1CC0C;
    border: 1px solid #B1CC0C;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
}
button.pg5_notif_button2 {
  background: #B1CC0C;
  color: white;
  border-color: #B1CC0C;
  width: 33%;
  font-size: inherit;
  box-shadow: 0px 3px 2px 0px #a2a2a2;
}
li.sec_pg_ol_li1 p {
    font-size: 1.8em;
}

li.sec_pg_ol_li4 {
    padding: 20px;
    text-align: center;
}
li.pg5_desc_mid_container {
    position: relative;
    margin-bottom: 100px;
}
.pg5_payment_details {
    z-index: 1;
    position: absolute;
    bottom: 0;
}
p.pg2_product_error {
    padding: 20px;
    width: 100%;
    background: #F44336;
    color: white;
    box-sizing: border-box;
}
/*######## ENQUIRY list ########*/
.eqnlist {
  padding: 50px;
  box-sizing: border-box;
}

ol.enqlist-box {
    border: 2px solid #ececec;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

ul.enqlist-boxitems {
    display: table;
    width: 100%;
}

.pro-img-cont {
    width: 150px;
    height: 150px;
    position: relative;
    margin-right: 20px;
    border: 1px solid #ececec;
    border-radius: 10px;
    z-index: 1;
}

.pro-img-cont img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    border-radius: 10px;
}

p.enqlist-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding-right: 30px;
}

.enqlist-input {
}

.enqlist-input span {
    font-size: 1em;
    color: black;
}

.enqlist-input input[type="number"] {
    padding: 5px 0px 5px 41px;
    width: 50px;
    border: 2px solid #ececec;
    border-radius: 5px;
}
li.enqlistcont-sec1 {
    width: 15%;
    display: table-cell;
    vertical-align: middle;
}

li.enqlistcont-sec2 {
    box-sizing: border-box;
    width: 60%;
    display: table-cell;
    vertical-align: middle;
}

li.enqlistcont-sec3 {
    width: 20%;
    display: table-cell;
    vertical-align: middle;
}

span.enqlist-totalprice {vertical-align: middle;font-weight: bold;}
li.enqlistcont-sec4 {
    font-size: 3em;
    display: table-cell;
    vertical-align: middle;
}
i#trash {
    cursor: pointer;
}

span.notif_enqlist {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  padding: 0px 5px;
  border-radius: 50%;
  display: none;
}
p.enq_nav {
    position: relative;
}
.pg2_pop_enq{
  margin: 0px 40px;
}
li.pop_quan_cont {
    position: relative;
}
.loadgif {
    display: block;
    width: 100%;
    text-align: center;
}
.shwmore_cont {
    text-align: center;
    display: block;
    width: 100%;
}

button#shwmore {
    padding: 5px 10px;
    border: 1px solid #b1cc0c;
    background: #b1cc0c;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.loadgif img {
    width: 150px;
    height: 150px;
}
.editor-datetime {
      position: relative;
   }
.container {
  position: relative;
}
p#productpg_price {
    font-size: 2em;
}
.loadgif.shwmoreloading img {
    width: 50px;
    height: 50px;
}
/*########################## Media query 20-22 inch desktop#######################*/
@media only screen and (min-width: 1801px) and (max-width: 1920px){
.form-popup{
  top: 35%;
  left: 35%;
}
.alert{
  top: 30%;
  left: 35%;
}
.product_img {
  width: 415px;
  border-radius: 4px;
}
ol.product_solo_cont {
  width: 425px;
}
.pg5_product_imgbox {
  height: 840px;
}
.pg5_middle_ul_li2 {
  width: 50%;
}
ol#more li {
  font-size: 1.1em;
}
ol.pg5_middle_list_dots1 li {
  font-size: 1.1em;
}
p.ftext {
  line-height: 1.5em;
  font-size: 1.1em;
}
.pg5_middle_h3 {
  font-size: 1.3em;
}
.pg5_middle_ul2 {
  line-height: 1.8em;
}
.moreless-button {
  font-size: 1.4em;
}
.pg5_notif_sec1 {
  width: 32%;
}
button.pg5_notif_button2 {
  width: 20%;
  height: 50px;
}
button.pg5_notif_button1 {
  height: 50px;
}
span.notif_enqlist {
  top: -10px;
  right: -10px;
}
.pg5_notif_sec1 {
    width: 27%;
}
}
@media only screen and (min-width: 1701px) and (max-width: 1800px){
ol.product_solo_cont {
  width: 400px;
}
.product_img {
  width: 360px;
}
.pg5_notif_sec1 {
    width: 40%;
}
}
@media only screen and (min-width: 1680px) and (max-width: 1700px){
.form-popup{
  top: 35%;
  left: 35%;
}
.alert{
  top: 32%;
  left: 35%;
}
.wcon{
  margin-top: 10px;
}
/* PRODUCT LIST  */
.product_cont_ul {
  padding-right: 30px;
  padding-bottom: 10px;
}
.product_img {
  width: 350px;
}
ol.product_solo_cont {
  width: 367px;
}
input#tnc-accept {
  left: 22%;
}
.pg5_readmore_button {
  bottom: -110px;
  height: 275;
}
.walletimgcont {
  margin-top: 0;
}
.storeimgcont {
  margin-bottom: 10px;
}
.pg5_notif_sec1 {
  width: 38%;
}
span.notif_enqlist {
  top: -10px;
  right: -10px;
}
.pg5_notif_sec1 {
    width: 31%;
}
}

@media only screen and (min-width: 1599px) and (max-width: 1600px){
.form-popup{
  top: 35%;
  left: 32%;
}
.pg5_notif_sec1 {
    width: 35%;
}
.alert{
  top: 25%;
  left: 35%;
}
.wcon{
  margin-top: 8px;
}
.product_img {
  width: 331px;
  border-radius: 4px;
}
ol.product_solo_cont {
  width: 346px;
}
#home{
  height: 60vh;
}
p.ftext {
    line-height: 1.5em;
    font-size: 0.8em;
}
.pg5_middle_ul2 {
    line-height: 1.5em;
}
input#tnc-accept {
  left: 20.5%;
}
.pg5_product_imgbox {
  height: 760px;
}
.pg5_notif_sec1 {
  width: 40%;
}
span.notif_enqlist {
  top: -10px;
  right: -10px;
}
.pg5_notif_sec1 {
    width: 32%;
}
}
@media only screen and (min-width: 1431px) and (max-width: 1529px){
ol.product_solo_cont {
  width: 310px;
}
input#tnc-accept {
    left: 16.5%;
}
.pg5_middle_ul2 {
    line-height: 1.5em;
}
.product_img {
  width: 290px;
}
.pg5_notif_sec1 {
    width: 40%;
}
button.pg5_notif_button1, button.pg5_notif_button2 {
    font-size: 1.2em;
}

#home{
  height: 55vh;
}
.pg5_product_imgbox {
    position: relative;
    height: 655px;
}
p.ftext {
    line-height: 1.5em;
    font-size: 0.8em;
}
.pg5_middle_h3 {
    font-size: 1em;
}
.pg5_readmore_button {
    left: -35px;
    bottom: -100px;
}
.pg5_notif_sec1 {
    width: 36%;
}
}
@media only screen and (min-width: 1301px) and (max-width: 1365px){
ol.product_solo_cont {
  width: 278px;
}
.pg5_middle_ul2 {
    line-height: 1.5em;
}
.pg5_middle_h3 {
    font-size: 1em;
}
.product_img {
  width: 290px;
}
.pg5_product_imgbox {
    position: relative;
    height: 620px;
}
p.ftext {
    line-height: 1.5em;
    font-size: 0.8em;
}
.pg5_readmore_button {
    left: -35px;
    bottom: -100px;
}
.pg5_notif_sec1 {
    width: 40%;
}
}
@media only screen and (min-width: 1366px) and (max-width: 1370px){
.form-popup{
  top: 28%;
  left: 35%;
}
li.pg5_product_descpt1 {
    margin: 20px 0px 0px 0px;
}
.pg5_middle_ul2 {
    line-height: 1.5em;
    font-size: 0.9em;
}
p.ftext {
    line-height: 1.5em;
    font-size: 0.9em;
}
.pg5_readmore_button{
  left: -35px;
  bottom: -100px;
}
.pg5_middle_h3 {
    font-size: 1em;
}
.alert{
  top: 35%;
  left: 30%;
}
#home{
  height: 62vh;
}
/* PRODUCT LIST  */
.product_cont_ul {
  padding-bottom: 0px;
  padding-right: 10px;
}
ol.product_solo_cont {
  width: 290px;
}
.product_img {
  width: 300px;
}
.pg5_product_imgbox {
  position: relative;
  height: 620px;
}
input#tnc-accept {
  left: 15%;
}
.pg5_notif_sec1 {
    width: 40%;
}
}
@media only screen and (min-width: 1371px) and (max-width: 1430px){
.form-popup{
  top: 35%;
  left: 30%;
}
.alert{
  top: 35%;
  left: 30%;
}
.pg5_readmore_button{
  left: -35px;
}
/* PRODUCT LIST  */
.product_cont_ul {
  padding-bottom: 0px;
  padding-right: 10px;
}

ol.product_solo_cont {
  width: 300px;
}
.product_img {
  width: 284px;
}
input#tnc-accept {
  left: 16%;
}
.pg5_product_imgbox {
  height: 650px;
}
.pg5_middle_ul3 {
  padding-bottom: 150px;
}
.walletimgcont {
  margin-top: 0;
}
.storeimgcont {
  margin-bottom: 10px;
}
.pg5_readmore_button {
  bottom: -110px;
  height: 275;
}
.pg5_middle_ul2 {
  line-height: 1.5em;
}
span.notif_enqlist {
  top: 70px;
  right: 32px;
}
.pg5_notif_sec1 {
    width: 40%;
}
}
@media only screen and (min-width: 1280px) and (max-width: 1300px) {
  .form-popup {
    top: 36%;
    left: 29%;
  }
.alert{
  top: 30%;
  left: 30%;
}
/* PRODUCT LIST  */
ol.product_solo_cont {
  width: 265px;
}
input#tnc-accept {
  left: 12%;
}
.product_img {
  width: 270px;
}
.pg5_product_imgbox {
  height: 600px;
}
.pg5_middle_ul3 {
  padding-bottom: 100px;
}
p.ftext {
  line-height: 1.5em;
  font-size: 1em;
}
.pg5_middle_ul2 {
  line-height: 1.4em;
}
li.pg5_product_descpt1 {
  margin-top: 25px;
}
.walletimgcont {
  margin-top: 0;
}
.storeimgcont {
  margin-bottom: 10px;
}
.pg5_readmore_button {
  bottom: -120px;
}
.pg5_middle_h3 {
  font-size: 1em;
}
.pg5_notif_sec1 {
  width: 60%;
}
.topnav{
  height: 145px;
}
span.notif_enqlist {
}
.pg5_notif_sec1 {
    width: 40%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
.form-popup {
  left: 11%;
} 
ol.product_solo_cont {
  width: 202px;
}
.product_img {
  width: 200px;
}
.btn-2 {
  left: 5%;
}
li.sec_pg_img_li {
  width: 330px;
  height: 350px;
}
li.sec_pg_ol_li1 p {
  font-size: 1.2em;
}
.pg5_notif_pro_img_con img {
  max-width: 90%;
}
.pg5_notif_sec1 {
  width: 62%;
}
.pg5_product_imgbox {
  height: 475px;
}
.pg5_middle_ul3 {
  margin-bottom: 250px;
}
.walletimgcont {
  margin-top: 0px;
}
.storeimgcont {
  margin-bottom: 15px;
}
p.ftext {
  line-height: 1.5em;
}
.pg5_middle_ul2 {
  line-height: 1.5em;
}
input#tnc-accept {
  left: 1.2%;
}
.alert {
  left: 25%;
}
.sec_pg_cont {
    height: 400px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .topnav {
    margin: 0 15px;
  }
  section.container{
    margin: 0 1.1em;
  }
  div.details {
    margin: 30px 0px 30px 2px;
    padding: 7px 7px;
  }
  div.social-icon {
    width: 15px;
  }
  div.firstfoot-left {
    width: 86%;
  }
  .form-popup {
    left: 11%;
  } 
  ol.product_solo_cont {
    width: 195px;
  }
  .product_img {
    width: 200px;
  }
  .btn-2 {
    left: 5%;
  }
  li.sec_pg_img_li {
    width: 330px;
    height: 350px;
  }
  li.sec_pg_ol_li1 p {
    font-size: 1.2em;
  }
  .pg5_notif_pro_img_con img {
    max-width: 100%;
  }
  .pg5_notif_sec1 {
    width: 42%;
}
  .pg5_product_imgbox {
    height: 340px;
  }
  .pg5_middle_ul3 {
    margin-bottom: 410px;
}
  .walletimgcont {
    margin-top: 0px;
  }
  .storeimgcont {
    margin-bottom: 15px;
  }
  p.ftext {
    line-height: 1.5em;
  }
  ol.pg5_middle_list_dots1 li {
    font-size: 0.9em;
}
ol#more li {
  font-size: 0.9em;
}
.pg5_middle_h3 {
  font-size: 1em;
}
  .pg5_middle_ul2 {
    line-height: 1.3em;
  }
  input#tnc-accept {
    left: 1.2%;
  }
  .alert {
    left: 15%;
  }
  .sec_pg_img {
    width: 95%;
  }
  .pg5_middle_ul3_li1 {
    margin-right: 10px;
  }
  .pg5_readmore_button {
    left: -10px;
  }
  .pg5_notif_tickmark img.vector {
    top: 4px;
    left: 3px;
  }
  .pg5_upper_ul {
    padding: 25px 19px;
  }
  .pg5_notif_pro_img_con {
    height: 55px;
    width: 100px;
}
p.pg5_notif_title {
  font-size: 0.8em;
}
.pg5_notif_tickmark {
  margin-top: 20px;
}
.pg5_notif_sec2 {
  width: 60%;
}
/* enquiry_form */
.container1 label {
  font-size: 0.7em;
}
.wcon {
  font-size: 0.7em;
}
p.para {
  font-size: 0.7em;
}
section.home {
  margin: 20px 20px 60px 0px;
  padding: 0 30px;
}
.items {
  padding: 6px 10px;
  margin: 5px 2px;
}
p.lowtxt {
  font-size: 0.9rem;
}
button.pg5_notif_button2 {
  width: 40%;
}
span.notif_enqlist {
  top: -2px;
  right: -12px;
}
.topnav input[type=text] {
  width: 260px;
}
li.sec_pg_ol_li4 {
  padding: 10px;
}
div.firstfoot-left {
  width: 100%;
}
.pr_detail_btn {
  padding: 18px 15px;
}
}